<!-- <div class="row">
      <div clas="col-sm-12">
          <div class="table-responsive">
              <table class="table">
                  <tbody>
                      <tr ng-repeat="comment in comments">
                          <td>
                              {{comment.user.username}}: {{comment.comment}}, {{comment.createdDateTime}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Add comment" ng-model="newComment">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="addComment()">Add</button>
                                  </span>
                              </div>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div> -->
<h1>Comment Feed</h1>
